a.nav-link{
    color: white;
    font-family: georgia;

}
a.nav-link:hover{
    color: black;
}
.dropdown-menu{
    border:none;
}
a.dropdown-item{
    color: white;
    font-family:krona one

}
nav.bg-primary{
    max-height: 100%;

}